# Python
Car_owners/application/__pycache__/
Car_owners/car_owners/__pycache__/
*.pyc

# Django stuff:
*.log
Car_owners/data
Car_owners/db.sqlite3
Car_owners/dump.json

# Environment
venv/

# PyCharm
.idea
