Car_owners/static/admin/css/* linguist-vendored
Car_owners/static/admin/img/* linguist-vendored
Car_owners/static/admin/js/* linguist-vendored
Car_owners/static/admin/js/admin/* linguist-vendored
Car_owners/static/admin/js/vendor/* linguist-vendored

Car_owners/static/drf-yasg/* linguist-vendored
Car_owners/static/drf-yasg/redoc-old/* linguist-vendored
Car_owners/static/drf-yasg/redoc/* linguist-vendored
Car_owners/static/drf-yasg/swagger-ui-dist/* linguist-vendored

Car_owners/static/gis/css/* linguist-vendored
Car_owners/static/gis/img/* linguist-vendored
Car_owners/static/gis/js/* linguist-vendored

Car_owners/static/rest_framework/css/* linguist-vendored
Car_owners/static/rest_framework/docs/css/* linguist-vendored
Car_owners/static/rest_framework/fonts/* linguist-vendored
Car_owners/static/rest_framework/js/* linguist-vendored
