# Python
Car_owners/application/__pycache__/
Car_owners/car_owners/__pycache__/
*.pyc

# Django stuff:
*.log
Car_owners/data

# Environment
venv/

# PyCharm
.idea

# Test coverage
Car_owners/.coverage
